body{
    background-image:url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;}
  @keyframes window {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @media (max-width: 600px) {
    body{
      background-image:url("android.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    #mes{
      height:200px;
      width:390px;
    }
    #about{
      width: 100px;
      height:80px; 
    }
    #emailic{
      width:80px;
      height:80px;
    }
    #pro{
      width:80px;
      height:80px;
    
    }
    #box{
      width:auto;
    }
    #port{
      font-family:Russo One;
      font-size:20px;
      color:black;
  }
  #email{
      font-family:Russo One;
      font-size:20px;
      color:black;                 
  }

  }
#flex{
    display: flexbox;
}
.port{
    top:5%;
    left:5%;
    font-family:Russo One;
    font-size:10px;
    color:black;
}
.email{
    top:9%;
    left:5%;
    font-family:Russo One;
    font-size:10px;
    color:rgb(0, 0, 0)                 l;
}
@media (min-width:601px){
#about{
  width:50px;
  height:30px;

}
#emailic{
  width:40px;
  height:30px;

}
#pro{
  width:40px;
  height:30px;

}
#port{
  top:5%;
  left:5%;
  font-family:Russo One;
  font-size:15px;
  color:black;
}
#mes{
  height:200px;
  width:550px;
}
#email{
  top:9%;
  left:5%;
  font-family:Russo One;
  font-size:15px;
  color:rgb(0, 0, 0);

}
#box{
  width:600px;
}
}
#myname{
    display:none;
}
#myname:target{
    display:table;
    position:absolute;
    top:20%;
    left: 20%;
}
#pers{
    font-family:"Homemade Apple";
}
#who{
    font-family:"Electrolize";
}
#box{
  top:20%;
    left: 15%;
    background-color: #f3f3f3;
    position: absolute;
    border: 1px #777 solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  animation-name: window;
  animation-duration: 0.5s;
}
.cont{
    padding: 2px 16px;
}
#myname header{
    background-color: rgba(28, 145, 207, 0.727);
}
#myname header h2{
    font-family: "Press Start 2P";
}
#myname a{
    text-decoration: none;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color:white;
  }
#myname a:hover{
    text-decoration: none;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color:black;
    background-color: red;
  }
#myname p{
    font-size:25px;
    text-align:center;
}
.cont #random{
    font-family: "Supermercado One";
}
#me1{
    font-family: "Supermercado One";

    text-align: left;
    font-size: 2.5rem;
    overflow: hidden;
    border-right: .15em black;
    white-space: nowrap; 
    width: 0;
    display:flexbox;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 0.1s;
  }
#form{
    display:none;
}
#form:target{
    display:table;
    position:absolute;
    top:20%;
    left: 20%;
}
#form header{
  background-color: rgba(28, 145, 207, 0.727);
}
#form header h2{
  font-family: "Press Start 2P";
}
#form a{
  text-decoration: none;
  float: right;
  font-size: 30px;
  font-weight: bold;
  color:white;
}
#form a:hover{
  text-decoration: none;
  float: right;
  font-size: 30px;
  font-weight: bold;
  color:black;
  background-color: red;
}
#form p{
  font-size:25px;
  text-align:center;
}
input[type="submit"]{
  background-color:black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color:rgb(70, 61, 61);
  color: rgb(14, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text]{
  width:90%;
  padding:10px;
  border:1px solid black;
  margin-top: 6px; 
  margin-bottom: 16px;
}
form{
  font-family: "Titillium Web";
}